/* Configurações da Página */
* {
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

main {
    display: block;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 6%;
    box-sizing: border-box;
}

main h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
    color: #565656;
    text-align: center;
}

section {
    margin-bottom: 80px; /* Aqui você pode definir o valor de margem desejado */
}

/* Configurações do Header */
header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #0f203e;
}

.img-fundo {
    width: 100%;
    height: auto;
}

/* Configurações do Navigator Principal */
.hidden {
    display: none;
}

.nav-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1600px;
    width: 100%;
    height: 15%;
    margin: 0 auto;
    padding: 15px 6% 0 6%;
    box-sizing: border-box;
    z-index: 1000;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.699) 0%, rgba(0, 0, 0, 0) 100%);
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-button {
    cursor: pointer;
    margin-right: 20px;
    /* Adiciona espaçamento à direita do botão */
}

.menu-button img {
    max-width: 24px;
    /* Define o tamanho máximo da imagem do botão de menu */
    height: auto;
}

.menu-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-options li {
    margin-right: 10px;
    /* Adiciona espaçamento à direita dos itens do menu */
    display: inline;
}

.menu-options li::after {
    content: "|";
    /* Conteúdo do pseudo-elemento */
    color: white;
    /* Cor da barra */
    margin-left: 10px;
    /* Espaçamento entre a barra e o texto */
}

.menu-options li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    transition: color 0.6s; /* Adicione uma transição de 0,3 segundos para a propriedade "color" */
}

.menu-options li a:hover {
    color: orange; /* Altere a cor para laranja quando o mouse estiver sobre o elemento */
}

.logo img {
    max-height: 10vh;
    /* Define o tamanho máximo da imagem da logo */
    width: auto;
}

.social-icons img {
    max-height: 24px;
    /* Define o tamanho máximo da imagem do botão do WhatsApp */
    width: auto;
}

/* Configurações do Navigator Secundário */
.nav-header-bottom {
    background-color: #0f203e;
    width: 100%;
    margin: 0 auto;
    padding: 0 6%;
    box-sizing: border-box;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.ul-header-bottom {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.li-header-bottom {
    flex: 1;
    padding: 10px;
}

.li-header-bottom a {
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;
    color: #ffff;
    position: relative;
    padding-bottom: 2px;
    font-weight: normal; /* Garante que a fonte não seja negrito por padrão */
    transition: font-weight 0.5s ease; /* Adiciona uma transição para suavizar a alteração da fonte */
}

.li-header-bottom a:hover {
    font-weight: bold; /* Altera para negrito ao passar o mouse */
}


/* Configuração Section Informações do Imóvel */
.container-main {
    width: auto;
    height: auto;
    margin-top: 60px;
}

.section-imovel {
    display: flex;
}

.container-imovel {
    flex: 1;
    box-sizing: border-box;
}

.container-imovel img {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 700px;
}

.content-imovel {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

.imovel-nome,
.imovel-bairro {
    margin-bottom: 6px;
}

.imovel-nome {
    font-family: 'Brother 1816';
    font-weight: bold;
    font-style: normal;
    font-size: xx-large;
    color: #425424;
}

.imovel-bairro {
    font-weight: 700;
}

.imovel-status {
    font-size: 16px;
    background-color: #c8b8b0;
    display: inline-block;
    padding: 5px;
}

.content-imovel-info {
    margin-top: 50px;
}

.content-imovel-info ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

.content-imovel-info li {
    text-align: left;
}

.content-imovel-info li h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    color: #897773;
}

.content-imovel-info li p {
    font-weight: 400;
    font-size: 15px;
}

.content-imovel-descricao {
    margin-top: 50px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
}

.content-imovel-descricao h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    color: #897773;
}

.content-imovel-descricao p {
    text-align: justify;
}

.whatsapp-button {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366; /* Cor de fundo do WhatsApp */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    border-radius: 5px; /* Cantos arredondados */
    padding: 10px 20px; /* Espaçamento interno */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
  }
  
  .whatsapp-button img {
    width: 20px; /* Tamanho do ícone do WhatsApp */
    height: 20px;
    margin-right: 10px; /* Espaçamento à direita do ícone */
  }
  
  .whatsapp-button:hover {
    background-color: #128c7e; /* Altera a cor de fundo no hover */
  }
  

/* Configuração da Galeria do Imóvel */
.slide-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}

.slide-image {
    display: none;
    max-width: 100%;
    max-height: 80vh;
    width: 100%;
    height: auto;
}

/* Estilos CSS para os botões de avançar e retornar */
.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prev-button,
.next-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 5px;
}

/* Estilos CSS para o modal de imagem */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
}

.modal-content {
    max-width: 100vw;
    /* Defina o tamanho máximo desejado, como 90% */
    max-height: 80vh;
    /* Defina o tamanho máximo desejado, como 90% */
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos CSS para os botões de avançar e retornar na imagem ampliada */
.modal-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.modal-prev-button,
.modal-next-button,
.modal-close-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/* Configuração da Section Localização do Imóvel */

.imovel-localizacao {
    width: 100%;
}

.container-imovel-localizacao {
    text-align: center;
}

.container-imovel-localizacao button {
    background: #b5b2b2;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 26px;
    font-size: 16px;
    margin: 20px auto 20px auto;
    display: table;
    border: none;
    cursor: pointer;
}

.container-imovel-localizacao p {
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 20px;
}

.img-localizacao {
    width: 100%;
}

.mapa iframe {
    width: 100%;
    height: 80vh;
}

/* Configuração do Formulário de Contato */

.formulario {
    margin: 0 auto; /*COLOCAR MARGIN PADRÃO */
}

.form {
    display: flex;
    justify-content: space-between;
}

.form-nome,
.form-email,
.form-tel {
    width: 49%;
    margin-bottom: 10px;
}

.form-nome input,
.form-email input,
.form-tel input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: #0f203e solid 1.5px;
}

.formulario textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: #0f203e solid 1.5px;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-button input {
    color: #fff;
    background-color: #0f203e;
    border: none;
    outline: none;
    width: 10%;
}

/* Configuração do Footer */

footer {
    background-color: #0f203e;
    font-family: 'Source Sans 3', sans-serif;
}

.container-footer {
    display: flex;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 6%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: block;
}

.links ul {
    display: flex;
}

.icons-social {
    width: 30px;
    height: 30px;
}

.logo-footer {
    width: 180px;
    height: 60px;
}

.copy {
    text-align: center;
    color: white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: small;
    padding: 10px;
}

.copy a {
    border: none;
    color: #fff;
    transition: color 0.6s ease;
    /* Adicione uma transição suave para a mudança de cor */
}

.copy a:hover {
    color: orange;
    /* Muda a cor do texto para laranja no hover */
}

.content-link {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}

.content-link li {
    margin: 0px 25px 5px 0;
}

.content-link li h3 {
    color: #fff;
    font-size: large;
    margin-bottom: 10px;
}

.content-link li a {
    color: #b5b2b2;
    text-decoration: none;
    font-size: small;
    transition: color 0.6s ease;
    /* Adicione uma transição suave para a mudança de cor */
}

.content-link li a:hover {
    color: orange;
    /* Muda a cor do texto para laranja no hover */
}

.content-contato {
    display: flex;
    flex-wrap: wrap;
}

.content-contato li {
    margin: 5px 10px 0 0;
}















.container-corretores {
    text-align: center;
    padding: 20px 0;
}

.container-corretores h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #565656;
}

.content-corretores {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 20px;
}

.corretor {
    text-align: center;
    background-color: #fff; /* Altere para a cor de fundo desejada */
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra suave */
}

.corretor img {
    border-radius: 50%;
    width: 150px; /* Tamanho da imagem */
    height: 150px; /* Tamanho da imagem */
    object-fit: cover;
    margin-bottom: 10px;
}

.corretor p {
    margin-bottom: 10px;
    font-weight: 700;
    color: #333; /* Altere para a cor desejada */
}

.whatsapp-button-corretor {
    display: inline-block;
    padding: 10px 20px; /* Tamanho do botão */
    background-color: #25d366; /* Cor do WhatsApp */
    color: #fff; /* Cor do texto */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Efeito de transição de cor de fundo */
}

.whatsapp-button-corretor:hover {
    background-color: #128C7E; /* Cor de destaque no hover */
}