header img {
    max-width: 100%;
}

.container-main {
    max-width: 100%;
    margin: 0 auto;
}

.nav-main {
    background-color: #c8b8b0;
}

.ul-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.li-nav {
    flex: 1;
    padding: 10px;
}

.li-nav a {
    text-decoration: none;
    color: black;
}